*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
  }
  #top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  position: fixed;
  
  width: 100%;
  height: 10vh;
  background-color: rgb(243, 242, 252);
  }
  
  .lf-nav{
    display: flex;
    margin: 1%;
    position: absolute;
    justify-content: space-around;
    gap: 20px;
    left: 0;
    
    
  }
  .rt-nav{
    margin: 1%;
    display: flex;
    position: absolute;
  right: 0;
  justify-content:flex-end;
  gap: 20px;
  }
  .lf-nav i{
    color: rgb(17, 124, 246);
    transform: translateY(5px);
  }
  .lf-nav p{
   color: rgb(58, 143, 254);
    font-size: larger;
  }
  .rt-nav span input{
    
    border-radius: 20px;
    padding:8px ;
    border: 0.2px solid rgb(134, 134, 134);
    outline: none;
  }
  
  .rt-nav i{
    font-size: larger;
    color: rgb(29, 144, 244);
    transform: translateY(5px);
  }
  .rt-nav img{
    width: 12%;
    height: 12%;
    transform: translateY(-5px);
  }
  .btm-nav{
    background-color:rgb(231, 232, 244);
    display:flex;
    width: 100%;
  }
  #side-nav { 
    width:13%;
    overflow: hidden;
      height: 90vh;
      background-color: rgb(210, 218, 250);
      position: fixed;
    margin-top: 10vh;
     
      display: flex;
      list-style: none;
  }
  .sidebar a{
    color: black;
  }
  
  .section{
  
  display:flex;
  
  }
  .section1{
    
  
  display:flex;
  
  }
  .section2{
  display:flex;
  }
  
 
  .sidebar ul li  i{
    color:rgb(65, 65, 175);
    margin-bottom: 10px;
    height:8vh;
    
  display: flex;
  position: absolute;
   
     
  } 
  .sidebar ul li a{
    list-style: none;
  text-decoration: none;
margin-bottom: 10px;
  position: absolute;
 
  }

  
.sidebar{
  display: flex;
}
.sidebar li{
  
 display: flex;
  border-radius: 8px;

 margin-left: 10px;
  color: rgb(0, 0, 0);
  

}
  
    .btn{
      width: 170px;
      height: 8vh;
      margin-top: 10px;
      border-radius: 8px;
      border-style: none;
      display: flex;
    background-color:  rgb(210, 218, 250);
    }
    .btn:hover{
      background-color: rgb(233, 237, 253);
      box-shadow:  0 4px 8px 0 rgba(200, 187, 254, 0.326), 0 6px 20px 0 rgba(190, 177, 244, 0.419);
    }
  
  .plot1:hover{
    background-color: rgb(243, 242, 252);
  }
  .aside{
   margin-left: 13%;
   width: 100%;
    background-color: rgb(255, 255, 255);
  }
#chart1{
    padding: 10px 10px;
    border: 0.2px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 30px;
   
    width: 60px;
    height: 40vh; 
    box-shadow:  0 4px 8px 0 rgba(200, 187, 254, 0.326), 0 6px 20px 0 rgba(190, 177, 244, 0.419);
     background-color: rgb(255, 255, 255);
  display: flex;
 
}
#chart11{
  padding: 10px 10px;
  border: 0.2px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 20px;
  
  
  width: 600px;
  height: 40vh; 
  box-shadow:  0 4px 8px 0 rgba(200, 187, 254, 0.326), 0 6px 20px 0 rgba(190, 177, 244, 0.419);
   background-color: rgb(255, 255, 255);
display: flex;

}
#chart22{
  padding: 10px 10px;
  border: 0.2px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  width: 650px;
  height: 40vh; 
  box-shadow:  0 4px 8px 0 rgba(200, 187, 254, 0.326), 0 6px 20px 0 rgba(190, 177, 244, 0.419);
   background-color: rgb(255, 255, 255);
display: flex;
margin-right: 10px;

}
#chart2{
  border: 0.2px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 30px;
  width: 650px;
  margin-right: 10px;
  display: flex;
  box-shadow:  0 4px 8px 0 rgba(200, 187, 254, 0.326), 0 6px 20px 0 rgba(190, 177, 244, 0.419);
 background-color: rgb(255, 255, 255);
}

  .pls{
    display: flex;
   flex-wrap: wrap;
    margin-top: 10px;

justify-content: space-between;
  }
  .pl1 h2{
    margin-top: 90px;
 margin-left: 10px;
  }
  .pl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
     gap: 20px;
     text-decoration: none;
     list-style: none;
  }
  .plot{
   
   padding: 8px 30px;
  
    border: 1px solid rgb(234, 231, 231);
    
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow:   0 4px 8px 0 rgba(200, 187, 254, 0.326), 0 6px 20px 0 rgba(190, 177, 244, 0.419);
  
  }
  .plot a{
  
  text-decoration: none;
  list-style: none;
  
  }
  .plot1 a{
    text-decoration: none;
    list-style: none;
    }
  .plot1{
margin-top: 80px;
    padding: 8px 28px;
    border: 1px solid rgb(234, 231, 231);
   
    box-shadow:  0 4px 8px 0 rgba(200, 187, 254, 0.326), 0 6px 20px 0 rgba(190, 177, 244, 0.419);
    border-radius: 8px ;
    background-color: rgb(255, 255, 255);
  }
  #container1{
    display: flex;
  flex-wrap: wrap;
    margin-left: 20px;
  }
  
  /* .chart1{
    margin-left: 20px;
    width: 100px;
    height: 100px;

}
.chart2{
    display: flex;

    width: 400px;
    height: 400px;
} */
/* .charts1{
    display: flex;
    width: 100%;
    width: 400px;
    height: 400px;
} */